{% extends 'base.html.twig' %}

{% block title %}Hello VehicleController!
{% endblock %}

{% block body %}
	
	<div class='container'>
		<div class='row'>
			{% for vehicle in vehicles %}
				<div class="col-6">
					<img src="upload/vehicles/{{ vehicle.picture }}" alt="{{vehicle.name }}" class="align-self-center" width="auto" height='auto'>
					<div class="card-body">
						<p class="card-text"></p>
						{{vehicle.name }} <br>
						{{vehicle.mileage}}
						{{vehicle.yearsofcirculation}}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
